zsixtyfour.com {
  tls zachnowicki@gmail.com

  log / stdout {combined}
  errors stderr

  root /var/www/sites/zsixtyfour.com

  gzip

  ext .html

  markdown /docs {
    ext .md
    css style.css
  }
}
